.vue-slider {
    position: relative;
}
.vue-slider-item {
    width: 100%;
    height: 550px;
    background-color:#FFFFFF;
    background-size: cover;
    background-position: center;
}
.vue-slider-buttons {
    width: 100%;
    position: absolute;
    top: 50%;
}
.vue-slider-button-prev {
    left: 0;
    position: absolute;
    border:0px;
    background:none;
}
.vue-slider-button-next {
    right: 0;
    position: absolute;
    border:0px;
    background:none;
}


.shiftx-enter-active, .shiftx-leave-active {
    transition: all 2s ease-in-out;
}
.shiftx-enter, .shiftx-leave-to /* .fade-leave-active below version 2.1.8 */ {
    transform :  translateX(100px);
}
